html{
    font-family :Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    width: fit-content;
    justify-content: center;
    border-top: outset 15px lightgray;
    border-bottom: outset 15px lightgray;
    border-left: outset 15px lightgray;
    border-right: outset 15px white;
}

main{
    display: flex;
    justify-content: center;
    border-top: inset 15px lightgray;
    border-bottom: inset 15px snow;
    border-left: inset 15px lightgray;
    border-right: inset 15px white;

}



section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


div{
    height: 100px;
    width: 100px;
    display: flex;
    box-sizing: border-box;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

p{
    font-size:70px;
    font-weight: bold;
}


.clickedCell {
    border: dashed black 3px;

}

.unclickedCell{
    border-top: outset white 8px;
    border-left: outset white 8px;
 border-bottom: outset black 8px;
border-right: outset black 8px;

}

.number1{
    color: blue;
}

.number2{
    color: green;
}

.number3{
    color: red;
}

.bomb{
background-image: url("bomb.gif");
background-size: contain;
}