body {
    border: inset grey 15px;
    display: flex;
    width: fit-content;
    justify-content: center;
}


section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


div{
    height: 100px;
    width: 100px;
    display: flex;
    box-sizing: border-box;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

p{
    font-size:70px;
    font-weight: bold;
}


.clickedCell {
    border: dashed black 2px;

}

.unclickedCell{
    border: inset lightgray 8px;
}

.number1{
    color: blue;
}

.number2{
    color: green;
}

.number3{
    color: red;
}

.bomb{
background-image: url("bomb.gif");
background-size: contain;
}